*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #777;
}

img {
	max-width: 100%;
	height: auto;
}

/* Container */
.container {
	max-width: 1000px;
	margin: 20px auto;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

/* Brand */
.brand a,
.brand img {
	display: block;
}

/* Menu */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 3px;
}

nav a {
	color: #000;
	padding: 10px 15px;
	font-size: 18px;
	display: block;
}

nav a:hover {
	background: #000;
	color: #fff;
}

/* Slider */
.slider img {
	display: block;
}

/* Main */
main {
	display: flex;
	justify-content: space-between;
}

/* Article */
article {
	width: 70%;
	padding: 30px;
}

/* Aside */
aside {
	width: 30%;
	padding: 20px;
	background-color: #f8f8f8;
    border-left: 1px solid #e1e1e1;
}

.widget {
    margin-bottom: 40px;
    font-family: 'Josefin Slab', serif;
}

.widget img {
	float: left;
	margin: 0 12px 5px 0;
}

.widget ul {
	list-style-type: square;
	padding: 0 0 0 18px;
	margin: 0;
}

.widget li {
	margin-bottom: 15px;
}

/* Footer */
footer {
	background: #f8f8f8;
	border-top: 1px solid #e1e1e1;
	padding: 22px 15px;
	text-align: center;
}

footer p {
	margin: 0;
}